body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1365px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:140px;
  top:40px;
  width:210px;
  height:100px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:100px;
}
#u2 {
  position:absolute;
  left:2px;
  top:42px;
  width:206px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:677px;
  top:44px;
  width:81px;
  height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:773px;
  top:44px;
  width:27px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:360px;
  top:112px;
  width:49px;
  height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:430px;
  top:112px;
  width:97px;
  height:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:553px;
  top:112px;
  width:121px;
  height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:701px;
  top:112px;
  width:97px;
  height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1087px;
  top:44px;
  width:278px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:140px;
  top:150px;
  width:660px;
  height:500px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:500px;
}
#u18 {
  position:absolute;
  left:2px;
  top:242px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:145px;
  top:664px;
  width:650px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:633px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u21 {
  position:absolute;
  left:298px;
  top:684px;
  width:307px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:290px;
  top:382px;
  width:385px;
  height:37px;
  color:#FF0000;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:37px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  white-space:nowrap;
}
