body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1335px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:110px;
  top:30px;
  width:210px;
  height:100px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:100px;
}
#u2 {
  position:absolute;
  left:2px;
  top:42px;
  width:206px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:647px;
  top:34px;
  width:81px;
  height:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:16px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5 {
  position:absolute;
  left:743px;
  top:34px;
  width:27px;
  height:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:330px;
  top:102px;
  width:49px;
  height:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:400px;
  top:102px;
  width:97px;
  height:28px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u11 {
  position:absolute;
  left:523px;
  top:102px;
  width:121px;
  height:28px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:28px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u13 {
  position:absolute;
  left:671px;
  top:102px;
  width:97px;
  height:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:1057px;
  top:34px;
  width:278px;
  height:16px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:16px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:110px;
  top:140px;
  width:270px;
  height:200px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:200px;
}
#u18 {
  position:absolute;
  left:2px;
  top:92px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:115px;
  top:610px;
  width:650px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:633px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:650px;
  height:1px;
}
#u21 {
  position:absolute;
  left:268px;
  top:630px;
  width:307px;
  height:16px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:115px;
  top:150px;
  width:255px;
  height:140px;
}
#u23_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:140px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u24 {
  position:absolute;
  left:115px;
  top:300px;
  width:100px;
  height:25px;
}
#u24_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u25 {
  position:absolute;
  left:300px;
  top:300px;
  width:70px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:410px;
  top:140px;
  width:360px;
  height:200px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
}
#u27 {
  position:absolute;
  left:2px;
  top:92px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:437px;
  top:174px;
  width:40px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:437px;
  top:223px;
  width:40px;
  height:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:487px;
  top:170px;
  width:200px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:487px;
  top:217px;
  width:200px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:487px;
  top:265px;
  width:100px;
  height:25px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u35 {
  position:absolute;
  left:615px;
  top:270px;
  width:118px;
  height:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:110px;
  top:350px;
  width:660px;
  height:250px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:660px;
  height:250px;
}
#u38 {
  position:absolute;
  left:2px;
  top:117px;
  width:656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:118px;
  top:360px;
  width:49px;
  height:28px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:127px;
  top:398px;
  width:308px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:696px;
  top:398px;
  width:58px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:122px;
  top:414px;
  width:637px;
  height:10px;
}
#u46_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_end {
  position:absolute;
  left:620px;
  top:-5px;
  width:18px;
  height:20px;
}
#u46_line {
  position:absolute;
  left:0px;
  top:5px;
  width:637px;
  height:1px;
}
#u48 {
  position:absolute;
  left:127px;
  top:426px;
  width:308px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:696px;
  top:426px;
  width:58px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:122px;
  top:442px;
  width:637px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:620px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:637px;
  height:1px;
}
#u54 {
  position:absolute;
  left:127px;
  top:454px;
  width:308px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:696px;
  top:454px;
  width:58px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:122px;
  top:470px;
  width:637px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:620px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:637px;
  height:1px;
}
#u60 {
  position:absolute;
  left:127px;
  top:481px;
  width:308px;
  height:16px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:16px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:696px;
  top:481px;
  width:58px;
  height:16px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:122px;
  top:497px;
  width:637px;
  height:10px;
}
#u64_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_end {
  position:absolute;
  left:620px;
  top:-5px;
  width:18px;
  height:20px;
}
#u64_line {
  position:absolute;
  left:0px;
  top:5px;
  width:637px;
  height:1px;
}
#u66 {
  position:absolute;
  left:127px;
  top:510px;
  width:308px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:696px;
  top:510px;
  width:58px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:122px;
  top:526px;
  width:637px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:620px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:637px;
  height:1px;
}
#u72 {
  position:absolute;
  left:127px;
  top:538px;
  width:308px;
  height:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:16px;
}
#u73 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  white-space:nowrap;
}
#u74 {
  position:absolute;
  left:696px;
  top:538px;
  width:58px;
  height:16px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u76 {
  position:absolute;
  left:122px;
  top:554px;
  width:637px;
  height:10px;
}
#u76_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_end {
  position:absolute;
  left:620px;
  top:-5px;
  width:18px;
  height:20px;
}
#u76_line {
  position:absolute;
  left:0px;
  top:5px;
  width:637px;
  height:1px;
}
#u78 {
  position:absolute;
  left:360px;
  top:574px;
  width:8px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u79 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u80 {
  position:absolute;
  left:383px;
  top:574px;
  width:8px;
  height:16px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u81 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u82 {
  position:absolute;
  left:404px;
  top:574px;
  width:8px;
  height:16px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u84 {
  position:absolute;
  left:428px;
  top:574px;
  width:8px;
  height:16px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u86 {
  position:absolute;
  left:453px;
  top:574px;
  width:13px;
  height:16px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:16px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u88 {
  position:absolute;
  left:483px;
  top:574px;
  width:15px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:514px;
  top:574px;
  width:9px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:541px;
  top:574px;
  width:12px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:331px;
  top:574px;
  width:6px;
  height:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:16px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:300px;
  top:574px;
  width:12px;
  height:16px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u98 {
  position:absolute;
  left:860px;
  top:140px;
  width:360px;
  height:200px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:200px;
}
#u99 {
  position:absolute;
  left:2px;
  top:92px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:960px;
  top:114px;
  width:8px;
  height:16px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  visibility:hidden;
  white-space:nowrap;
}
#u102 {
  position:absolute;
  left:927px;
  top:360px;
  width:79px;
  height:16px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u104 {
  position:absolute;
  left:872px;
  top:205px;
  width:53px;
  height:16px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:951px;
  top:205px;
  width:79px;
  height:16px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u107 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u108 {
  position:absolute;
  left:1051px;
  top:205px;
  width:79px;
  height:16px;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u110 {
  position:absolute;
  left:872px;
  top:247px;
  width:79px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:977px;
  top:247px;
  width:79px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:872px;
  top:289px;
  width:53px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:872px;
  top:150px;
  width:97px;
  height:28px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u118 {
  position:absolute;
  left:953px;
  top:289px;
  width:14px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
