@{
    ViewBag.Title = "修改密码";
    Layout = "../Layout/_ManagerLeft.cshtml"; 
}
@section head {
    <style>
        .common-form td {
            padding: 10px 5px;
        }
        .common-form .tips {
            padding-left: 20px;
        }
        body .common-form .btn-primary {
            margin: 20px 0 0 0;
        }
    </style>
}
<div class="common-form">
    <table cellpadding="0" cellspacing="0">
        <tr>
            <td class="tips">旧密码：</td>
            <td>
                <input value="" name="oldPwd" class="input-control" type="password" />
            </td>
        </tr>
        <tr>
            <td class="tips">新密码：</td>
            <td>
                <input value="" name="newPwd" class="input-control" type="password" />
            </td>
        </tr>
        <tr>
            <td class="tips">确认密码：</td>
            <td>
                <input value="" name="newPwd2" class="input-control" type="password" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td colspan="2">
                <input class="btn btn-primary" id="j-submit" type="submit" value="提 交" />
            </td>
        </tr>
    </table>
</div>
<script>
    (function () {
        var $old = $("[name=oldPwd]"),
            $new = $("[name=newPwd]"),
            $new2 = $("[name=newPwd2]"),
            $btn = $(".btn-primary");
        var submiting = false;
        $btn.click(function () {
            var data = {
                oldPwd: $.trim($old.val()),
                newPwd: $.trim($new.val()),
            }, newPwd2 = $.trim($new2.val());
            if (!data.oldPwd)
                alert("旧密码不能为空");
            else if (!data.newPwd)
                alert("新密码不能为空");
            else if (data.newPwd != newPwd2)
                alert("两次输入的密码不一致");
            else {
                submiting = true;
                $.ajax({
                    url: '@Url.Action("password")',
                    type: 'post',
                    data: data,
                    dataType: "json",
                    success: function (response) {
                        if (response.code == 0) {
                            alert('更新成功');
                            $old.val('');
                            $new.val('');
                            $new2.val('');
                        } else {
                            alert(response.msg);
                        }
                    },
                    error: function () { alert("出错啦，请重试") }
                }).always(function () { submiting = false });
            }
            return false;
        });
    })();
</script>