@{
    Layout = "../Layout/_Header.cshtml";
}

<ul>
    <li>
        <h3>运单管理</h3>
        <ul>
            <li><a href="@Url.Action("edit", "bill")" @(Url.IsCurrent("edit", "bill") ? "class=\"current\"" : String.Empty)>创建单个运单</a></li>
        </ul>
    </li>
</ul>
@RenderBody()
