@{
    Layout = "../Layout/_Header.cshtml";
}
@section head{
<style>
    .manager_content {
        margin-left:200px;
        min-width:1000px;
        padding: 20px;
    }
    .manager-area {
        overflow: hidden;
        zoom: 1;
        height:100%
    } 
    .sidebar {
        width: 190px;
        padding: 5px;
        float: left;
        background: #232c3b;
        font-size: 12px;
        background: #232c3b;
        padding-bottom: 10000px;
        margin-bottom: -10000px;
    }
        .sidebar li {
            background: #35404d;
            border-radius:4px;
            line-height:49px;
            padding-left:17px;
            margin-bottom:5px;
        }
        .sidebar a {
            color: #fff;
            display:block;
        }
            .sidebar a:hover {
                color: #ff6c60;
            }
</style>
@RenderSection("head", false)
}
<div class="manager-area">
    @Html.Action("LeftMenu", "Common")
    <div class="manager_content">
        @RenderBody()
    </div>
</div>